@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #f4f6f7;
    font-family: 'Poppins', sans-serif;
    flex-flow: column;
}

/*Display-AlinC*/
body,
#topo,
#card,
.card2,
.caixa,
.bloco,
#confleft,
#confright,
#eng,
.amb2,
#for,
#for2,
#sabp {
    display: flex;
    align-items: center;
}

/*Ff-Col*/
#for2,
#for2,
#for,
#pr,
#confleft,
#confright,
.card2,
.inf {
    flex-flow: column;
}

:root {
    --cor1: #e4e9eb;
    --cor2: #16293ab3;
    --cor3: #1c232899;
}

/*Configurações de estilização geral do site estão acima*/
/*Rodapé e Cabeçalho*/
#topo,
#rodape {
    background: var(--cor2);
    backdrop-filter: blur(10px);
    width: 100%;
}

#topo {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 10vh;
}

.logo {
    width: 8vh;
    margin-left: 2vh;
}

#eng {
    position: absolute;
    right: 1vw;
}

.links {
    margin-left: 1vw;
    padding: 2vh;
    line-height: 2vh;
    color: var(--cor1);
    transition: .2s ease-in-out;
}

.links:hover {
    background: rgb(0, 0, 0, .1);
    transform: scale(1.05);
    box-shadow: rgb(0, 0, 0, .4) 1px 2px 4px;
    transition: .2s ease-in-out;
}

#rodape {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    padding: 3vh 0 5vh 0;
}

.inf {
    display: flex;
    width: 20rem;
    line-height: 160%;
}

/*Corpo do site*/

#card {
    width: 75%;
    justify-content: space-around;
    flex-flow: wrap row;
    margin-top: 2vh;
}

.card2 {
    width: 25rem;
    height: 50vh;
    background: rgba(28, 35, 40, 0.5);
    padding: 3vh;
    text-align: justify;
    transition: .4s ease-in-out;
    margin: 1vh;
}

.card2:hover {
    transform: scale(1.05);
    transition: .47s ease-in-out;
    box-shadow: rgb(0, 0, 0, .6) 1px 2px 4px;
    filter: brightness(.9);
}

/*Novidades*/
#amb {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 2vh 0 2vh 0;
}

.amb2 {
    width: 50%;
    height: 50vh;
    justify-content: center;
    cursor: pointer;
    transition: .35s ease-in-out;
}

.amb2:hover {
    box-shadow: rgb(0, 0, 0, .5) 1px 3px 5px;
    transition: .35s ease-in-out;
}

#amb:has(.amb2:hover) .amb2:not(:hover) {
    filter: saturate(0);
    transform: scale(0.98);
    transition: .35s ease-in-out;
}

.texto {
    width: 40vw;
    line-height: 3.5vh;
    text-align: justify;
}

.caixa {
    padding: 5vh;
    width: 100%;
    height: 60vh;
}

.dir {
    width: max-content;
}

.bloco {
    height: 40vh;
    justify-content: space-between;
}

.bloco2 {
    padding: 7vh;
}

/*Contato-Formulário de contato*/
#formulario,
#opiniao,
#nome {
    width: 50%;
    height: 4vh;
    padding: 1vh;
    font-family: 'Poppins', sans-serif;
}

#opiniao {
    height: 15vh;
}

.simbolo {
    width: 5vh;
}

#enviar,
#voltar,
#compra,
#valor {
    border: 1px solid #173145;
    padding: 1vh;
    border-radius: .2rem;
    cursor: pointer;
}

#enviar {
    transition: .2s ease-out;
}

#enviar:hover,
#voltar:hover {
    background-color: #173145;
    color: var(--cor1);
    transition: .2s ease-out;
}

/*Comprar*/
#conf {
    background: var(--cor1);
    width: 60%;
    height: 70vh;
    position: fixed;
    top: 20vh;
    display: none;
    box-shadow: rgb(0, 0, 0, .4) 1px 2px 4px;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

#confleft,
#confright {
    height: 100%;
    justify-content: center;
    padding: 5vh;
}

#confleft {
    width: 60%;
    background: #d0d4d6;
}

#confright {
    width: 40%;
}

#voltar {
    width: 100%;
    margin-top: 2vh;
    text-align: center;
    transition: .2s ease-out;
}

#compra {
    width: 100%;
    text-align: center;
    background: #38678b;
    border: none;
    color: var(--cor1);
    margin-top: 1vh;
    transition: .2s ease-out;
}

#compra:hover {
    background: #2c526e;
    transition: .2s ease-out;
}

#valor {
    cursor: auto;
    width: 100%;
}

.numero {
    border: 1px solid #173145;
    padding: 1vh;
    border-radius: .2rem;
    cursor: pointer;
    background: none;
    outline: none;
    font-size: 1.9vh;
    width: 70%;
}

/*Apresentação*/
#ap {
    background: url(img/Apresentação.png);
    height: 100%;
    width: 42%;
    background-size: cover;
}

.imgbl {
    width: 43.5vw;
    height: 100%;
}

#pr {
    height: 215vh;
    background-color: var(--cor1);
    margin-top: 2vh;
    justify-content: space-between;
}

#for {
    width: 100%;
    justify-content: space-around;
    height: 10vh;
}

#for2 {
    background-color: var(--cor1);
    margin-top: 2vh;
    justify-content: space-between;
}

#imgcx {
    justify-content: space-between;
}

#resp2 {
    background: url(img/Menu.png);
    background-size: contain;
    width: 4vh;
    height: 4vh;
    position: absolute;
    right: 2vh;
    top: 3vh;
    display: none;
}

#resp {
    display: none;
}

.caixa>h2 {
    font-size: 5vh;
    font-weight: normal;
}

.card2>h3 {
    font-size: 2vh;
    font-weight: normal;
    padding: 5vh;
}

#card>h2 {
    font-size: 5vh;
    font-weight: normal;
    padding: 5vh;
}

.bloco2>h3 {
    font-size: 3vh;
    font-weight: normal;
}

#sabp {
    justify-content: space-around;
    flex-flow: wrap row;
    width: 100%;
    padding: 1vh;
}

#card>#sabp>.card2 {
    cursor: pointer;
    margin: 1.5vh;
    height: 70vh;
}

#rodape>a>.logo {
    width: 10vh;
    margin-left: 0;
}

/*Dispositivos menores que 780px de largura*/
@media (max-width:780px) {
    .texto {
        width: 100%;
    }

    .amb2 {
        width: 100%;
        height: 35vh;
    }

    .bloco {
        flex-flow: wrap;
        height: auto;
    }

    .imgbl {
        background-repeat: no-repeat;
        width: 100%;
    }

    #pr {
        height: auto;
    }

    .bloco2 {
        margin-top: 10vh;
        padding: 0;
        width: 100%;
    }

    .inf {
        margin-top: 2vh;
        align-items: center;
    }

    #formulario,
    #opiniao,
    #nome {
        width: 100%;
    }

    #for2 {
        height: auto;
    }

    #enviar {
        margin-top: 2vh;
    }

    #conf {
        width: 95%;
        flex-flow: column;
        top: 10vh;
        height: 95vh;
    }

    #confleft,
    #confright {
        width: 100%;
        justify-content: center;
        flex-flow: column;
        padding: 1.5vh;
    }

    #confleft {
        height: 43vh;
        background: #d0d4d6;
    }

    #confright {
        height: 56vh;
    }

    #imgcx {
        flex-flow: column;
    }

    #ap {
        width: 100%;
        margin-bottom: 2vh;
    }

    .links {
        display: none;
    }

    #eng {
        flex-flow: column;
        position: relative;
        background: #16293a;
        width: 100%;
        top: 17vh;
        border-bottom-left-radius: 2vh;
        border-bottom-right-radius: 2vh;
    }

    #resp2 {
        display: flex;
    }

    #resp:checked+#eng .links {
        display: flex;
    }

    .links:hover {
        background: none;
        transform: none;
        box-shadow: none;
        transition: none;
    }

    .card2:hover {
        transform: none;
        transition: none;
        box-shadow: none;
        filter: none;
    }

    .amb2:hover {
        box-shadow: none;
        transition: none;
    }

    #amb:has(.amb2:hover) .amb2:not(:hover) {
        filter: none;
        transform: none;
        transition: none;
    }
}

@media (max-height:450px) {

    .caixa>h2,
    #card>h2 {
        font-size: 10vh;
    }

    .card2>h3 {
        font-size: 5vh;
    }

    .card2 {
        width: 20rem;
        height: 90vh;
        padding: 5vh;
    }

    .bloco2>h3 {
        font-size: 6vh;
    }

    .texto {
        width: 80vw;
        line-height: 7vh;
    }

    .amb2 {
        height: 100vh;
    }

    #topo {
        height: 20vh;
    }

    .logo {
        width: 15vh;
    }

    #resp2 {
        width: 10vh;
        height: 10vh;
        right: 4vh;
        top: 5vh;
        display: flex;
    }

    #eng {
        position: absolute;
        width: 40%;
        top: 20vh;
        flex-flow: column;
        background: #16293a;
        border-bottom-left-radius: 2vh;
        border-bottom-right-radius: 2vh;
    }

    #ap {
        width: 50%;
    }

    .caixa {
        height: 80vh;
    }

    .simbolo {
        width: 10vh;
    }

    a.card2 {
        width: 18rem;
        height: 85vh;
    }

    #formulario,
    #opiniao,
    #nome {
        width: 80%;
        height: 20vh;
    }

    #opiniao {
        height: 30vh;
    }

    #for2 {
        height: 120vh;
    }

    #nome,
    #formulario {
        margin: 1vh;
    }

    #card>#sabp>.card2 {
        height: 100vh;
    }

    #rodape {
        justify-content: space-between;
    }

    #rodape>a>.logo {
        width: 17vh;
        margin-left: 2vh;
    }

    #resp:checked+#eng .links {
        display: flex;
    }

    .links {
        display: none;
    }
}